@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #f6f8ff;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 600;
  margin: 0;
}
.bg-light {
  background-color: #fff;
}
.bg-green {
  background-color: #3ce696;
}
.bg-red {
  background-color: #fb2932;
}
.bg-yellow {
  background-color: #f8cd02;
}
.bg-blue {
  background-color: #00addd;
}
.bg-violet {
  background-color: #7846fa;
}
.btn-save {
  min-width: 150px;
  background-color: #7983ff;
  border-color: #7983ff;
  color: #fff;
  margin-top: 30px;
  margin-right: 10px;
}
.btn-save:hover {
  color: #fff;
}
a {
  text-decoration: none;
  color: #0c1122;
}

.mt-20 {
  margin-top: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.fs-14 {
  font-size: 14px;
}
.br-10 {
  border-radius: 10px;
}
.color-text3 {
  color: #b8b8d2;
}
.chart {
  width: 100%;
  height: 100%;
}
.chart-line-wrapper {
  display: flex;
  justify-content: center;
}
.chart-line-wrapper .card-body {
  max-height: 400px;
}
.chart-line-wrapper .card-body canvas {
  max-height: 100%;
}
.chart-barstacked-wrapper .card-body {
  max-height: 400px;
}
.chart-barstacked-wrapper .card-body canvas {
  max-height: 100%;
}
.world-map {
  fill: #7846fa;
  stroke: #fff;
}
.intructor-row-2 {
  margin: 25px 0 0 0;
  padding: 0;
}
.wrapper {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.content-layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.pro-sidebar > .pro-sidebar-inner {
  background-color: #7846fa !important;
}

.pro-sidebar {
  color: #fff !important;
}
.pro-inner-item {
  font-weight: 500 !important;
  font-size: 16px !important;
}
.pro-inner-item:hover {
  color: #7846fa !important;
  background-color: #fff !important;
  border-radius: 20px;
}
.pro-icon-wrapper {
  background-color: initial !important;
}
.pro-icon-wrapper .pro-icon {
  font-size: 18px !important;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 30%;
  width: 100%;
}
.navbar-list li a {
  color: #1f1f39;
  font-weight: 500;
}

.intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-text {
  max-width: 700px;
}
.intro-title {
  font-size: 50px;
  font-weight: 600;
  color: #1f1f39;
  line-height: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro-description {
  color: #0c1122;
  font-weight: 400;
}
.intro,
.intro-courses,
.blog,
.brand,
.testimonials,
.feature {
  padding: 80px 0;
}

.icon-outline {
  color: #fff;
}
.benerfit {
  padding: 30px 0;
}
.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.service-desc {
  font-weight: 600;
  font-size: 16px;
  padding-left: 10px;
}

.feature-text {
  text-align: center;
}
.feature-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.feature-card {
  background-color: #fff;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.feature-card-text {
  padding: 20px 25px;
}
.feature-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.intro-courses-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimonials-card,
.blog-card,
.course-card {
  border-radius: 15px;
  background-color: #fff;
  max-width: 350px;
  padding: 20px 25px;
  border: 1px solid #f6f8ff;
  margin-top: 20px;
}
.course-card-author {
  font-size: 14px;
  font-weight: 600;
  color: #1f1f39;
}
.course-card-sp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-card-price {
  font-size: 24px;
}
.blog-card:hover,
.course-card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.blog-card-img,
.course-card-img {
  border-radius: 15px;
}

.blog-card {
  max-width: 470px;
  display: flex;
  flex-direction: column;
}
.blog-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-content {
  margin-top: 20px;
}

.testimonials-card {
  max-width: 500px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 20%);
  margin-bottom: 50px;
}
.testimonials-card-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.testimonials-card-user {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.testimonials-card-name {
  font-size: 18px;
  font-weight: 600;
}

.brand-title,
.testimonials-title,
.blog-text {
  text-align: center;
  margin-bottom: 40px;
}
.see-more {
  margin-top: 40px;
  text-align: center;
}
.brand-images {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.footer-item {
  padding: 8px 0;
  font-weight: 400;
}
.footer-policy {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
}
.footer-download-img {
  display: flex;
  max-width: 300px;
}

.signup {
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0 auto;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 20%);
}
.signin {
  min-width: 400px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0 auto;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 20%);
}

.checkbox {
  display: inline-flex;
}

.btn-register {
  margin: 20px auto;
  max-width: 100%;
  width: 100%;
}

main {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
main .btn-toggle {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #353535;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  display: none;
}
.mainnav {
  display: flex;
  align-items: center;
  max-height: 80px;
  height: 100%;
  margin-bottom: 20px;
}
.mainnav-user {
  width: 100%;
  display: flex;
  justify-content: end;
}
.mainnav-noti {
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.mainnav-username {
  width: 50px;
  height: 50px;
}

.overview-student {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 40px;
  width: 100%;
}
.overviewcard {
  width: 100%;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.overviewcard-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.community-wrapper {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
.community-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.community-card {
  display: flex;
  align-items: center;
  /* max-width: 330px; */
  width: 100%;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 18px;
}
.community-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.community-title {
  margin-bottom: 30px;
}
.community-logo {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}
.community-text {
  padding-left: 16px;
}
.taking-course {
  margin-top: 30px;
}
.taking-courses-list {
  display: flex;
  align-items: center;
}
.taking-courses-list span {
  margin-left: 10px;
}
.table-wrapper table {
  margin-bottom: 0;
}
.recommend-course {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px 20px;
}
.recommend-course-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  flex-wrap: wrap;
}
.recommend-course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recommend-course-img {
  border-radius: 15px;
  overflow: hidden;
}
.recommend-course-tag {
  font-size: 14px;
  font-weight: 400;
  color: #00addd;
}
.recommend-course-name {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}
.recommend-course-less-dura {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.btn-enroll {
  border-radius: 20px;
  width: 100%;
}
.btn-seeall {
  width: 100%;
  background-color: #7846fa;
  color: #fff;
  border-radius: 20px;
  padding: 6px 20px;
}
.btn-seeall:hover {
  color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.upcoming-class-wrapper {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upcoming-class-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}
.upcoming-class-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.upcoming-class-text {
  padding-left: 16px;
}

.profile-wrapper {
  max-height: 100%;
  max-width: 100%;
}
.profile-content {
  flex-wrap: nowrap;
  width: 100%;
}
.profile-info {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-right: 10px;
}
.profile-setting {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-left: 10px;
}
.profile-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-info-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-info-vip {
  background-color: orange;
  padding: 2px 10px;
  border-radius: 15px;
  color: inherit;
}
.profile-info-courses {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}
.courses-number {
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses-number span {
  font-size: 30px;
  font-weight: 700;
}

.profile-info-courses-complete,
.profile-info-courses-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-courses-text {
  margin-top: 16px;
  font-weight: 500;
}
.profile-info-courses-progress .courses-number {
  background-color: #dff6ff;
  color: #47b5ff;
}
.profile-info-courses-complete .courses-number {
  color: #14c38e;
  background-color: #b8f1b0;
}
.profile-achive {
  margin-top: 50px;
}
.profile-achive-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.profile-achive-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffeedd;
  color: #ffd60a;
  font-size: 30px;
}
.profile-support {
  margin-top: 50px;
  margin-bottom: 42px;
}
.profile-support h4 {
  margin-bottom: 20px;
}
.profile-support-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-support-icon {
  background-color: #dff6ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8338ec;
}

.profile-support-item span {
  margin-left: 10px;
}
.profile-tabs {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.profile-tab-item {
  min-width: 150px;
  padding: 10px 14px 10px 14px;
  font-size: 18px;
  text-align: center;
  color: #7983ff;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease;
}
.profile-tab-item:hover {
  opacity: 1;
  background-color: rgba(121, 131, 255, 0.06);
  border-color: #7983ff;
}
.profile-tab-item.active {
  opacity: 1;
  background-color: rgba(121, 131, 255, 0.06);
  border-color: #7983ff;
}
.profile-tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #7983ff;
  transition: all 0.2s ease;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.profile-setting form {
  max-width: 100%;
}
.profile-personal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.profile-personal-img {
}
/****** React-Calendar*******/
.calendar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar {
  border: none !important;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/*********Transactions**********/
.table-student-wrapper,
.paymentmethod-wrapper,
.chart-barstacked-wrapper,
.chart-line-wrapper,
.worldmap-wrapper,
.chart-barstacked-wrapper,
.chart-doughnut-wrapper,
.transaction-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.table-student-wrapper .card-header,
.paymentmethod-wrapper .card-header,
.chart-line-wrapper .card-header,
.transaction-wrapper .card-header,
.worldmap-wrapper .card-header,
.chart-barstacked-wrapper .card-header,
.chart-doughnut-wrapper .card-header {
  background-color: #7983ff;
  color: #fff;
  font-weight: 500;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.transaction-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.transaction-header {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transaction-link {
  font-size: 14px;
  font-weight: 300;
}
.transactioncard-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.transactioncard-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transactioncard-text {
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transactioncard-info {
  display: flex;
  flex-direction: column;
}
.transactioncard-title {
  font-weight: 500;
  margin-right: 10px;
  font-size: 18px;
}
.transactioncard-price {
  color: #7983ff;
  font-size: 18px;
  font-weight: 500;
}
.transactioncard-from {
  font-size: 14px;
  font-weight: 300;
  color: #797474;
}

.table-student-wrapper {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 30px;
}
.table-row-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.table-student-sort {
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table-student-select {
  width: 50%;
  margin-left: 20px;
}
.table-row-student {
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px; */
}
/****************** Payment Methods*********************/
.table-payment-img {
  display: flex;
  align-items: center;
}
.table-payment-item {
  padding: 23px 0 !important;
}

/****************** Process Course *******************/
.process-course-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
}
.process-course-card {
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background-color: white;
}

.process-course-name {
  margin: 0.5rem 0 0.5rem 0;
}
.process-course-content {
  display: flex;
  align-items: center;
}
.process-course-unit {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.process-course-nameuser {
  margin-left: 15px;
}
.course-progress {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
#course-progress {
  height: 25px;
  width: 80%;
}

@media (max-width: 992px) {
  .recommend-course-cards {
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
  }
  .overview-student {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
  }
  .overviewcard {
    margin-top: 24px;
  }
  .community {
    margin-top: 24px;
  }
  .upcoming-class-wrapper {
    margin-top: 30px;
  }
  .intructor-row-2 {
    margin-top: 25px;
  }
  .worldmap-wrapper {
    margin-top: 24px;
  }
  .chart-doughnut-wrapper {
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  main .btn-toggle {
    display: flex;
  }
}
@media (max-width: 576px) {
  .recommend-course-cards {
    grid-template-columns: auto;
  }
}
